# Locate SNP on hg38 by its name

In [2]:
import numpy as np
import pandas as pd
import pysam

In [2]:
# load list of top SNPs
snp_dir_name = "/data/list_of_snps/"

# uncomment if using top 200
# data = pd.read_csv(snp_dir_name+"TOP_200_SNPS.txt",delim_whitespace=True)
# saved_dir_name = dir_name = '/data/top200snps/'

# uncomment if using top 1000
data = pd.read_csv(snp_dir_name+"TOP_1000_SNPS.txt",delim_whitespace=True)
saved_dir_name = dir_name = '/data/top1000snps/'

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1361838 to 2136339
Data columns (total 13 columns):
SNP                     1000 non-null object
chr_pos_hg38            1000 non-null object
reference_allele        1000 non-null object
other_allele            1000 non-null object
ref_allele_frequency    1000 non-null float64
pvalue                  1000 non-null float64
het_pvalue              1000 non-null float64
log_odds                1000 non-null float64
log_odds_se             1000 non-null float64
N_case                  1000 non-null int64
N_control               1000 non-null int64
model                   1000 non-null object
chr_pos_(b36)           1000 non-null object
dtypes: float64(5), int64(2), object(6)
memory usage: 109.4+ KB

In [13]:
SNP_name = 'rs2489957'

In [14]:
idx = data.index[data['SNP'] == SNP_name].tolist()

In [15]:
data.loc[idx,:]

,SNP,chr_pos_hg38,reference_allele,other_allele,ref_allele_frequency,pvalue,het_pvalue,log_odds,log_odds_se,N_case,N_control,model,chr_pos_(b36)
1040448,rs2489957,chr6:160895096,G,A,0.695168,0.000019,0.365673,-0.067402,0.015748,17908,58271,FE,chr6:161236118